<p>The following items were found for the specified locations listed:</p>

{% for keyword_search in search_list -%}
  <p><strong>{{ keyword_search.search_keyword }}</strong></p>
  <ul>
  {% for location, loc_results in keyword_search.results.items() -%}
    {% for item in loc_results.item -%}
      <li>
        {{ location }}:
        <a href="{{ item.viewItemURL }}">{{ item.title }}</a> -
        ({{ item.sellingStatus.currentPrice.value }}, {{ item.sellingStatus.bidCount }} bids, {{ item.postalCode }}, Ends {{ item.listingInfo.endTime }})
      </li>
    {%- endfor %}
  {%- endfor %}
  </ul>
{%- endfor %}
